body {
  margin: 0;
  background: #000; 
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(poster.jpg) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(poster.jpg) #00ff00 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

.centeredImage {
  margin:auto;
  position: absolute;
  margin: auto;
  left: 0; 
  right: 0;
  top: 0;
  bottom: 0;  
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  opacity: 0.3;
}

.centeredImage:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

